* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.topbar-wrapper {
  width: 100%;
  -webkit-box-shadow: 12px 1px 25px #363535;
          box-shadow: 12px 1px 25px #363535;
  position: relative;
}

.topbar-wrapper .topbar {
  width: 1100px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
}

.topbar-wrapper .topbar .topbar-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.topbar-wrapper .topbar .topbar-logo a {
  display: -ms-grid;
  display: grid;
}

.topbar-wrapper .topbar .topbar-logo img {
  width: 120px;
  height: auto;
}

.topbar-wrapper .topbar .topbar-share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.topbar-wrapper .topbar .topbar-share p {
  font-weight: bold;
  color: #353535;
}

.topbar-wrapper .topbar .topbar-share i {
  margin-left: 15px;
}

.topbar-wrapper .topbar .topbar-share i:before {
  color: #734f9d;
}

.menu-wrapper {
  width: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(#754f9c), to(#b53d88));
  background-image: linear-gradient(to right, #754f9c, #b53d88);
  padding-top: 20px 0;
}

.menu-wrapper .menu {
  width: 1100px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #fff;
  padding: 20px 0 20px 0;
}

.menu-wrapper .menu .menu-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-wrapper .menu .menu-logo a {
  display: -ms-grid;
  display: grid;
}

.menu-wrapper .menu .menu-logo p {
  color: #ededed;
  margin-right: 10px;
  font-size: 15px;
}

.menu-wrapper .menu .menu-logo img {
  width: 135px;
  height: auto;
}

.menu-wrapper .menu .searchbox {
  position: relative;
}

.menu-wrapper .menu .searchbox input {
  background: none;
  border: none;
  width: 252px;
  height: 35px;
  border-radius: 25px;
  border: 1px solid #fff;
  padding-left: 15px;
  color: #fff;
  font-size: 16px;
}

.menu-wrapper .menu .searchbox input::-webkit-input-placeholder {
  color: #d9d9d9;
}

.menu-wrapper .menu .searchbox input:-ms-input-placeholder {
  color: #d9d9d9;
}

.menu-wrapper .menu .searchbox input::-ms-input-placeholder {
  color: #d9d9d9;
}

.menu-wrapper .menu .searchbox input::placeholder {
  color: #d9d9d9;
}

.menu-wrapper .menu .searchbox input:focus {
  outline: none;
}

.menu-wrapper .menu .searchbox i {
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #fff;
  cursor: pointer;
}

.menu-wrapper .navbar {
  padding: 5px 0;
  position: relative;
  width: 900px;
  margin: 0 auto;
  z-index: 10;
  text-align: center;
}

.nav-items {
  position: relative;
  cursor: pointer;
  display: inline-block;
  text-align: start;
  padding: 0 25px;
}

.nav-items img{
  width: 100px;
  height: auto;
}



.menu-wrapper .navbar .nav-items .nav-links {
  position: relative;
}

.menu-wrapper .navbar .nav-items .nav-links .triangle {
  width: 10px;
  height: 7px;
  background: #fff;
  position: absolute;
  top: 7px;
  right: 5px;
  -webkit-clip-path: polygon(49% 100%, 0 0, 100% 0);
          clip-path: polygon(49% 100%, 0 0, 100% 0);
}

.menu-wrapper .navbar .nav-items .nav-links button {
  background: none;
  border: none;
  padding: 10px 30px;
  cursor: pointer;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
}

.menu-wrapper .navbar .nav-items .nav-submenu {
  position: absolute;
  pointer-events: none;
  opacity: 0;
  background: #fff;
  top: 45px;
  -webkit-box-shadow: 1px 1px 6px #3e3e3e;
          box-shadow: 1px 1px 6px #3e3e3e;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  z-index: 9;
}

.menu-wrapper .navbar .nav-items .nav-submenu a {
  display: block;
  background: #fff;
  border-bottom: 1px solid #ddd;
  padding: 10px 25px;
  color: #353535;
}

.menu-wrapper .navbar .nav-items .nav-submenu a:hover {
  background: #b53d88;
  color: #fff;
}

.menu-wrapper .navbar .hover-show:hover .nav-submenu {
  opacity: 1;
  pointer-events: all;
  top: 35px;
}

.nav-logo{
  vertical-align: middle;
  display: none ;
}

.nav-logo a{
  display: grid;
}
/*# sourceMappingURL=style.css.map */


.top-banner{
  width: 970px;
  height: 90px;
  margin: 20px auto;
}


.main-section{
  width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.main-section-left{
  width: 780px;
}

.showcase{
  width: 100%;
  height: 400px;
  position: relative;
}

.showcase img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.showcase-title{
  position: absolute;
  top: 0;
  width: 80%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(117, 79, 156, 1)), to(rgba(181, 61, 136, 0.7)));
  background-image: linear-gradient(to right, rgba(117, 79, 156, 1), rgba(181, 61, 136, 0.7), rgba(255,0,0,0));
}

.showcase-title p{
  font-family: 'Raleway', sans-serif;
  font-size: 33px;
  font-weight: 300;
  color: #fff;
  width: 40%;
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  left: 20px;
}

.showcase-title p:before{
  content: "";
  width: 30px;
  height: 1px;
  background: #fff;
  position: absolute;
  top: -15px;
}

.section-title{
  display: flex;
  align-items: center;
  margin: 35px 0;
}

.title-dest{
  margin: 15px 0;
}

.section-title img{
  width: 25px;
  height: auto;
  margin-right: 10px;
}

.section-title p{
  font-weight: bold;
  font-size: 18px;
  color: #313131;
}



.section-content{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
}

.section-items{
  margin-bottom: 10px;
}



.section-items img{
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.artikel-title{
  color: #525252;
  font-weight: 300;
  font-size: 17px;
}

.tags{
  max-width: 61%;
  display: flex;
  align-items: center;
  border-radius: 30px;
  padding: 5px 10px;
  background-image: -webkit-gradient(linear, left top, right top, from(#754f9c), to(#b53d88));
  background-image: linear-gradient(to right, #754f9c, #b53d88);
  margin: 15px 0;
}

.tags-circle{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px #fff solid;
  margin-right: 10px;
  background: none;
  position: relative;
}

.tags-circle p{
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
}
.tags p{
  color: #fff;
  font-size: 15px;
}

.share{
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.share p{
  font-size: 12px;
  font-weight: 300;
  color: #525252;
  margin-right: 10px;
}

.socmed{
  display: flex;
  opacity: 0;
  transition: all 300ms ease;
  align-items: center;
}

.socmed i{
  font-size: 12px;
  color: #525252;
  margin-right: 5px;
}

.section-items:hover .socmed{
  opacity: 1;
}
.section-items-all{
  position: relative;
  width: 100%;
  height: 150px;
  background-image: -webkit-gradient(linear, left top, right top, from(#754f9c), to(#b53d88));
  background-image: linear-gradient(to right, #754f9c, #b53d88);
}

.section-items-all > a{
  display: flex;
  align-items: center;
  color: #fff;
  position: absolute;
  bottom: 20px;
  right: 10px;
}

.section-items-all p{
  color: #fff;
}

.section-items-all > a > .tags-circle{
  margin-left: 10px;
}


.map-section{
  width: 100%;
  height: 350px;
  position: relative;
}

.map-section img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.map-container{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 25px;
}

.map-container p{
  color: #fff;
  font-size: 20px;
  font-weight: 300;
}


/*MAPS*/
 .l-hov:hover .l-hov > path{
    
 }

 .l-hov path{
  
 }

 /**/

 .img-agenda{
  margin-bottom: 15px;
 }


.btn-selengkapnya{
  margin-top: 20px;
  margin-bottom: 45px;
}

.btn-selengkapnya a{
  margin: 0 auto;
  background-image: -webkit-gradient(linear, left top, right top, from(#754f9c), to(#b53d88));
  background-image: linear-gradient(to right, #754f9c, #b53d88);
  width: 200px;
  color: #fff;
  text-align: center;
  height: 35px;
  border-radius: 25px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*main section right____________________________________________*/

.main-section-right{
  width: 300px;
}

.giant-banner{
  width: 300px;
  height: 600px
}
.follow-socmed{
  text-align: center;
  margin: 20px 0;
  padding: 20px 0;
  border-bottom: 1px solid grey;
  border-top: 1px solid grey;
}

.follow-socmed i{
  color: #754f9c;
  margin-right: 20px;
  font-size: 2em;
}

.follow-socmed p{
  font-weight: 300;
  margin-bottom: 20px;
}

.populer-items{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.populer-items img{
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 15px;
}

.populer-title a{
  font-size: 16px;
  font-weight: 300;
  color: #525252;
  margin-bottom: 15px;
}

.populer-title p{
  font-weight: 300;
  color: #525252;
  font-size: 12px;
  margin-top: 10px;
}

.footer{
  width: 100%;
  background-image: linear-gradient(to top, #754f9c, #b53d88);
  padding-bottom: 50px;
  margin-top: 20px;
}

.footer a:hover{
  color: #ffc107;
}

.kanal{
  width: 1100px;
  margin: 0 auto;
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #fff;
  margin-bottom: 20px;
}

.kanal-items{
  
}

.kanal-items a{
  margin-bottom: 10px;
  font-weight: 300;
  display: block;
  color: #fff;
}

.kompas-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1100px;
  margin: 0 auto;
}

.kompas-info img{
  width: 200px;
  height: auto;
}

.about{
  display: flex;
  float: right;
  margin-bottom: 10px;
}

.about a, .kompas-info p{
  font-weight: 300;
  color: #fff;
  font-size: 14px;
  margin-left: 10px;
}

.kompas-info p{
  float: right;
}

.petualangan-bg{
  background-image: linear-gradient(to right, #ec723f, #dd4669);
}

.alam-bg{
  background-image: linear-gradient(to right, #3376c6, #58937a);
}

.budaya-bg{
  background-image: linear-gradient(to right, #f6ac1f, #f68d35)
}

.kuliner-bg{
  background-image: linear-gradient(to right, #bc3b84, #7a4d9b)
}

.rekreasi-bg{
  background-image: linear-gradient(to right, #565ba5, #1b75c1)
}

i{
  cursor: pointer;
}

.fixed{
  width: 100% !important;
  position: fixed !important;
  background-image: -webkit-gradient(linear, left top, right top, from(#754f9c), to(#b53d88));
  background-image: linear-gradient(to right, #754f9c, #b53d88);
  top: -100%;
  animation: animated 500ms;
}

@keyframes animated{
  from{
    top: -100px;
  }
  to{
    top: 0;
  }
}

.socmed i:hover {
  color: #b53d88;
}

.phb{
  width: 970px;
  height: 250px;
  margin: 20px auto;
}

.destinasi-content{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  margin-top: 5px;
}

.destinasi-items{
  position: relative;
  height: 162px;
  overflow: hidden;
}

.destinasi-items img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 1s ease;
}

.destinasi-items img:hover{
  transform: scale(1.1);
}

.destinasi-items p{
  position: absolute;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 1px 1px #313131;
  font-weight: bold;
  font-size: 18px;
  pointer-events: none;
  text-align: center;
}

.map-indonesia{
  margin-top: 18px;
}

.map-indonesia svg{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.map-indonesia button{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  background-image: -webkit-gradient(linear, left top, right top, from(#754f9c), to(#b53d88));
  background-image: linear-gradient(to right, #754f9c, #b53d88);
  border-radius: 30px;
  border: none;
  color: #fff;
  padding: 10px 20px;
  font-size: 18px;
}

.daerah-info{
  padding: 20px 60px;
  background-image: -webkit-gradient(linear, left top, right top, from(#754f9c), to(#b53d88));
  background-image: linear-gradient(to right, #754f9c, #b53d88);
}

.daerah-info p{
  text-align: center;
  font-weight: 300;
  color: #fff;
  line-height: 1.9;
}

.daerah-content{
  display: flex;
  margin-top: 30px;
}

.daerah-items h2{
  color: #383838;
  font-size: 18px;
}

.daerah-items a{
  color: #383838;
}

.daerah-content img{
  width: 300px;
  height: 170px;
  object-fit: cover;
  margin-right: 20px;
}

.socmed-show{
  opacity: 1;
}

.artikel-daerah{
  color: #525252;
  font-size: 15px;
  font-weight: 300;
  margin-top: 10px;
  line-height: 1.8;
}

.lihat-semua{
  width: 100px;
  cursor: pointer;
  margin: 0 auto;
}

.btn-daerah{
  margin-top: 50px;
}

.agenda-search{
  width: 100%;
  background: #dcdcdc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 20px;
}
.searchbox-agenda{
  box-sizing: border-box;
  display: flex;
  align-items: center;
  background: #fff;
 /* width: 200px;*/
  padding: 10px 15px;
  border-radius: 30px;
}

.searchbox-agenda input{
  border: none;
}

.searchbox-agenda img{
  width: 20px;
  height: auto;
}

.width-120{
  width: 120px;
}

.no-padding{
  padding: 0;
  padding-right: 10px;
}

.no-padding input{
  padding-left: 10px;
}

.agenda-img-wrap{
  padding: 6px 15px;
  border-right: 1px solid #dadada;
}

.no-padding img{
  
}

.search-map{
  width: 15px !important;
}
input:focus{
  outline: none;
}


.search-agenda-btn{
  background-image: linear-gradient(to right, #14f396, #3caee4);
  padding: 8px 38px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  color: #fff;
  border-radius: 30px;
  cursor: pointer;
}

.agenda-selengkapnya a{
    background-image: linear-gradient(to right, #14f396, #3caee4);
}

.showpejalan{
  height: 320px;
  margin-bottom: 25px;
}

.title-pejalan{
  background-image: linear-gradient(to right, rgb(48, 196, 253), rgba(102, 61, 181, 0.7), rgba(255,0,0,0));
}

.title-pejalan p{
  font-size: 28px;
}

.title-pejalan p:before{
  display: none;
}

.pejalan-selengkapnya a{
   background-image: linear-gradient(to right, rgb(48, 196, 253), rgb(102, 61, 181));
}

.breadcrumb{
  margin-bottom: 20px;
}
.breadcrumb a{
  color: #404040;
}

.breadcrumb .active{
  color:#b23e89;
}

.main-title{
  color: #383838;
  font-weight: 400;
}

.main-artikel-date{
  font-size: 14px;
  color: #828282;
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-artikel-share i{
  font-size: 20px;
  color: #fff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  padding-top: 5px;
  margin-left: 10px;
}

.main-artikel-share .fa-facebook-f{
  background: blue;
}

.main-artikel-share .fa-twitter{
  background: lightblue;
}

.main-artikel-share .fa-google-plus-g{
  background: red;
}

.main-artikel-share .fa-whatsapp{
  background: green;
}

.main-artikel-img{
  width: 100%;
  height: 390px;
  object-fit: cover;
}

.main-artikel-paragraf{
  margin-top: 30px;
  margin-bottom: 40px;
}

.main-artikel-paragraf p{
  color: #464646;
  line-height: 1.8;
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 25px;
}

.keajaiban-lainnya{
  display: flex;
  margin-bottom: 25px;
}

.keajaiban-lainnya img{
  width: 300px;
  height: 170px;
  object-fit: cover;
  margin-right: 20px;
}

.artikel-selengkapnya{
  margin-top: 60px;
}

.title-inspirasi{
  background-image: linear-gradient(to right, rgb(255, 187, 34), rgba(251, 88, 88, 0.7), rgba(255,0,0,0));
}

.inspirasi-selengkapnya a{
  background-image: linear-gradient(to right, rgb(255, 187, 34), rgb(251, 88, 88));
}

.keajaiban-container{
  margin-top: 5px;
}

.keajaiban-items-top{
  width: 100%;
  height: 350px;
  position: relative;
  margin-bottom: 5px;
}

.keajaiban-items-top img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.keajaiban-title{
  position: absolute;
  bottom: 30px;
  left: 30px;
}

.keajaiban-title h3{
  color: #fff;
}

.keajaiban-items-bottom{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.keajaiban-bottom-left{
  height: 350px;
  position: relative;
}

.keajaiban-bottom-left img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.keajaiban-bottom-right{
  display: grid;
  grid-template-columns: 4fr 3fr;
  grid-gap: 5px;
  margin-left: 5px;
}

.bottom-right-one{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px;
  
}

.bottom-right-two{
}

.right-one{
  position: relative;
}

.right-one img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title-small{
 left: 10px;
 bottom: 10px;
}
.mx-77{
  max-width: 70%;
}

.keajaiban-title p{
  color: #fff;
}

.smaller-right{
  height: 35%;
  padding-bottom: 5px;
}

.bigger-right{
  height: 45%;
}

.keajaiban-pt{
  
  margin-top: 5px;
}

.keajaiban-pt div{
  background-image: linear-gradient(to right, #ec723f, #dd4669);
  color: #fff;
  font-weight: 300;
  height: 20%;
  padding: 10px;
}

.keajaiban-pt .keajaiban-alam-lain{
  background-image: linear-gradient(to right, #3376c6, #58937a);
}

.keajaiban-pt .keajaiban-budaya-lain{
  background-image: linear-gradient(to right, #f6ac1f, #f68d35)
}

.keajaiban-pt .keajaiban-kuliner-lain{
  background-image: linear-gradient(to right, #bc3b84, #7a4d9b);
}

.keajaiban-pt .keajaiban-rekreasi-lain{
  background-image: linear-gradient(to right, #565ba5, #1b75c1)
}


/* DESTINASI */
/*main section right, width 300px*/